.home-container {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.module-list {
  flex-basis: 70%;
}

.status {
  text-align: right;
  flex-basis: 30%;
}
